<h1>New Sanctioned Entity</h1>

<div class="alert alert-danger col-md-5" *ngIf="errorMessage" role="alert">
  A sanctioned entity with the same Name and Domicile already exists.
</div>

<form [formGroup]="sanctionedEntityFormGroup" (ngSubmit)="onSubmit()">
  <div
    class="cross-validation col-md-5"
    [class.cross-validation-error]="
      name.errors?.required && (name.touched || name.dirty)
    "
  >
    <div class="form-group">
      <label class="form-label">Name</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Sanctioned Entity Name"
        required
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="name.errors?.required">Name is required.</div>
      </div>
    </div>
  </div>

  <div
    class="cross-validation col-md-5"
    [class.cross-validation-error]="
      name.errors?.required && (name.touched || name.dirty)
    "
  >
    <div class="form-group">
      <label class="form-label">Domicile</label>
      <input
        id="domicile"
        formControlName="domicile"
        type="text"
        class="form-control"
        placeholder="Sanctioned Entity Domicile"
        required
      />
      <div
        *ngIf="domicile.invalid && (domicile.dirty || domicile.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="domicile.errors?.required">Domicile is required.</div>
      </div>
    </div>
  </div>

  <label style="margin-left: 0.9em">Status</label>
  <div
    class="mb-2 col-md-5 form-group form-check form-switch"
    style="margin-left: 2.1em"
  >
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      formControlName="accepted"
      id="flexSwitchCheckDefault"
    />
    <label
      class="form-label"
      [ngClass]="status.value ? 'accepted' : 'rejected'"
      for="flexSwitchCheckDefault"
      >{{ status.value | status }}</label
    >
  </div>
  <div class="col-md-5">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
